@import url("fonts/fonts.css");

#dateEditableBox1 { max-width: 80px; white-space: normal; }
#currentDate1 { white-space: normal; }

html {
  overflow-y: visible !important;
  background: #1a1a1a;
}
html body {
  background: #1a1a1a !important;
  color: #838686;
}
html .nav-table {
  color: #838686;
}
html #calendarTitle {
  color: white;
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
  padding-bottom: 20px;
  text-transform: uppercase;
  font-size: 12px;
  margin-bottom: 8px;
  opacity: 0;
}
html .agenda .date-label {
  background: transparent;
  float: left;
/*   width: 20%; */
  font-family: "Montserrat",sans-serif;
  font-weight: bold;
  font-size: 12px;
}
html .agenda .event-title {
  color: white !important;
}
html .agenda .event {
  clear: none;
  margin-left: 220px;
  border-top: 0 none;
  font-family: "Inconsolata",fixed;
  font-size: 12px;
}
html .ui-rtsr-unselected {
  background: transparent;
}
html body .ui-rtsr-selected {
  color: white;
  background: transparent;
}

html .ui-rtsr-name {
  font-family: "Inconsolata",fixed;
  font-size: 12px;
  text-transform: uppercase;
  padding: 0px 4px;
  color: #838686;
}
html .calendar-container {
  font-family: "Inconsolata",fixed;
  font-size: 12px;
}
html body .view-container-border {
  background: transparent;
  padding: 1px;
}
html .agenda .day {
  border-bottom: 1px solid #cacaca;
  padding: 8px 0;
}
html .view-cap, .view-container-border {
  background: transparent;
}
html .calendar-nav img {
  margin-left: 8px;
}
html #agendaEventContainer1 {
  background: #1a1a1a;
}
html .nav-table>tbody>tr>td:nth-child(5) {
  display: none;
}
html .nav-table>tbody>tr>td:nth-child(6) {
  display: none;
}

html .navForward, html .navBack {
  background-image: url("/images/combined_v22.png");
}


@media (max-width: 750px) {
  html body .agenda .date-label {
    float: none;
  }
  html body .agenda .event {
    margin-left: 0;
  }
  html .agenda .event-title {
    white-space: normal;
  }
}
@media (max-width: 500px) {
  html table.nav-table {
    display: block;
  }
  html table.nav-table tbody {
    display: block;
  }
  html table.nav-table tbody tr {
    display: block;
  }
  html table.nav-table tbody tr .navSpacer {
    display: block;
  }
}